* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #f2efea;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.believe {
    background-color: #e8ded7;
    height: 30px;
    margin: 0;
    padding: 0;
}

/* .hard {
    width: 1000px;
    margin: auto;
} */

header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.everyday {
    display: flex;
    gap: 8px; 
    height: 30px;
    align-items: center;
}

#span {  
    font-family: "VT323", serif;
    font-weight: 400;
    font-style: normal;
} 

nav ul {
    display: flex;
    list-style: none;
    margin-top: 5px;
    gap: 35px;
} 

li a {
    text-decoration: none;
    color: #0d0c0c;
    font-weight: 500;
}

hr {
    height: 1px;
    border: 0;
    background-color: #fdfdfd;
    margin-top: 20px;
}

.thoughts {
    background-color: #394053;
    height: 450px;
    margin-top: 25px;
    color: #fdfdfd;
}

.statement {
    padding: 70px 100px;
    font-size: 15px;
}

.statement p {
    margin-bottom: 25px;
    word-spacing: 2px;
}

.statement h1 {
    font-family: serif;
    font-size: 45px;
    font-weight: 400;
}

button {
    margin-top: 100px;
    padding: 20px 40px;
    font-weight: 540;
    font-size: 14px;
}

section {
    margin-top: 45px;
    display: flex;
    gap: 12px;
}

.finance {
    width: 400px;
    background-color: white;
    height: 500px;
}

.huge {
    width: 400px;
    height: 300px;
}

.dui {
    padding: 10px 35px;
    margin-top: 20px;
}

#calories {
    background-color: #784b78e6;
    border-radius: 20px;
    display: inline-block;
    color: #f3f3f3;
    padding: 5px 10px 3px 10px;
    font-size: 15px;
}

#diets {
    background-color: #a56c57;
    border-radius: 20px;
    color: #f3f3f3;
    padding: 5px 10px 3px 10px;
    font-size: 15px;
    display: inline-block;
}

.dui h4 {
    margin-top: 18px;
    margin-bottom: 0;
}

#date{
    font-size: 15px;
    margin-top: 0;
}

span {
    font-size: 34px;
}

.moon {
    background-color: #edded3;
    height: 580px;
    margin-top: 25px;
    color: #fdfdfd;
    font-size: 15px;
} 

.house {
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stay {
    margin-top: 35px;
    margin-bottom: 30px;
}

#solve {
    font-size: 42px;
    font-family: serif;
    font-weight: 400;
}

#news {
    margin-top: 20px;
    margin-bottom: 35px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    border: none;
    padding: 12px 32px;
    width: 370px;
}

::placeholder {
    color: rgba(131, 127, 127, 0.7);
    word-spacing: 2px;
}

#tested {
    background-color: #01011d;
    color: #f3f3f3;
    font-weight: 600;
}

form p {
    color:rgba(131, 127, 127, 0.7);
}

footer {
    background-color: #2c2d36;
    margin-top: 100px;
    color: #f3f3f3;
    font-size: 20px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
