* {
    box-sizing: border-box;
    /* background-color: #f2efea; */
    margin: 0;
}

body {
    font-size: 18px;
    background-color: #f2efea;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.believe {
    background-color: #e8ded7;
    height: 30px;
}

.hard {
    width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: ;
}

.everyday {
    display: flex;
    gap: 8px;
    /* padding: 10px; 
    background-color: red; */
    height: 30px;
    align-items: center;
}

.everyday > img {
    width: 50px;
    height: 30px;
}

#span {
    /* align-self: flex-start; */
    font-weight: 550;
    font-family: "VT323", serif;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
}

nav ul {
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    /* padding: 10px; */
    gap: 35px;
}

li a {
    text-decoration: none;
    color: #0d0c0c;
    font-weight: 500;
}

hr {
    height: 1px;
    border: 0;
    background-color: #fdfdfd;
    margin-top: 20px;
}

.thoughts {
    background-color: #394053;
    height: 450px;
    margin-top: 25px;
    color: #fdfdfd;
}

.statement {
    padding: 70px 100px;
    font-size: 15px;
}

.statement p {
    margin-bottom: 25px;
    word-spacing: 2px;
}

.statement h1 {
    font-family: serif;
    font-size: 45px;
    font-weight: 400;
}

button {
    margin-top: 100px;
    padding: 20px 40px;
    font-weight: 540;
    font-size: 14px;
}

section {
    margin-top: 45px;
    display: flex;
    gap: 12px;
}

.finance {
    width: 400px;
    background-color: white;
    height: 500px;
}

.finance > img {
    width: 400px;
    height: 300px;
}

.dui {
    padding: 10px 35px;
    margin-top: 20px;
}

#calories {
    background-color: #784b78e6;
    border-radius: 20px;
    display: inline-block;
    color: #f3f3f3;
    padding: 5px 10px 3px 10px;
    font-size: 15px;
}

#diets {
    background-color: #a56c57;
    border-radius: 20px;
    color: #f3f3f3;
    padding: 5px 10px 3px 10px;
    font-size: 15px;
    display: inline-block;
}

.dui > h4 {
    margin-top: 18px;
    margin-bottom: 0;
}

#date{
    font-size: 15px;
    margin-top: 0;
}

span {
    font-size: 34px; 
}

.moon {
        background-color: #edded3;
        height: 580px;
        margin-top: 25px;
        color: #fdfdfd;
}

.house {
    color: #000000;
    /* border: 1px solid red; */
    display: inline-block;
    padding: 35px 400px;
    text-align: center;
    /* background-color: blue; */
    margin-top: 50px;
}

#stay {
    font-size: 15px;
    margin-bottom: 30px;
}

#news {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 35px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

input {
    border: none;
    padding: 22px;
    width: 370px;
    font-size: 15px;
}

::placeholder {
    color: rgba(131, 127, 127, 0.7);
    word-spacing: 2px;
}

#tested {
    background-color: #01011d;
    color: #f3f3f3;
    font-weight: 600;
}

form p {
    font-size: 15px;
    color:rgba(131, 127, 127, 0.7);
}

footer {
    background-color: #2c2d36; 
    padding: 100px;
    margin-top: 100px;
    text-align: center;
    color: #f3f3f3;
    font-size: 20px;
}
