* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #F9FAFF;
}

header {
    width: 1440px;
    height: 56px;
    margin: auto;
    /* background-color: red; */
}

.sex {
    width: 1200px;
    /* background-color: green; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

span {
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 180%;
    opacity: 100%;
}

nav ul {
    display: flex;
    margin: 0;
    gap: 48px;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #000000;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    opacity: 100%;
}

main {
    width: 1200px;
    margin: auto;
}

section {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 15px;
}

.grammy {
    width: 588px;
    height: 275px;
    margin-top: 70px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.grammy h1 {
    font-size: 40px;
    height: 62px;
    width: 486px;
    line-height: 130%;
    color: #333333;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    opacity: 100%;
}

.grammy p {
    line-height: 150%;
    width: 580px;
    height: 144px;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #828282;
    opacity: 100%;
}

button {
    border-radius: 8px;
    padding: 8px 20px;
    background-color: #FDC435;
    border: none;
    width: 114px;
    height: 43px;
    opacity: 100%;
    font-weight: bold;
}

.dumebi {
    width: 524px;
    height: 524px;
    opacity: 100%;
    /* border: 1px solid blue; */
}

#low {
    object-fit: cover;
    border-radius: 600%;
    width: 520px;
    height: 520px;    
} 

footer {
    width: 1440px;
    height: 1004px;
    margin: auto;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
}

footer h3 {
    width: 181px;
    height: 80px;
    /* border: 1px solid red; */
    font-size: 35px;
    opacity: 100%;
}

#lift {
    border: 2px solid #FDC435;
    width: 100px;
    margin: auto;
    margin-top: 5px;
}

form {
    width: 400px;
    height: 603px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 18px;
}

input {
    width: 400px;
    height: 35px;
    border-radius: 8px;
    border: 0.2px solid #efeaea;
    margin-top: 10px;
}

textarea {
    margin-top: 10px;
    width: 400px;
    height: 190px;
}

#bianu {
    display: flex;
    justify-content: flex-end;
}

#submit {
    width: 89px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 18px;
}



