@media only screen and (max-width: 600px) {
    body {
        width: 600px;
    }

    /* header {
        flex-flow: column wrap;
        flex-direction: column; 
    }  */

    main {
        width: 500px;
    }

    .recent_work {
        flex-flow: column wrap;
    }

    #single {
        top: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    body {
        width: 700px;
    }

    main {
        width: 600px;
    }

    .recent_work {
        flex-flow: column wrap;
        align-items: center;
    }

    #single {
        top: 0px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        width: 900px;
    }

    main {
        width: 800px;
    }
}

