@media screen and (min-width: 768px) {
    .main-upper {
        height: 575px;
    }

    aside {
        min-width: 190px;  
    }

    aside h3 {
        padding-left: 15px;
    }

    nav p {
        padding-left: 15px;
    }

    .work-experience {
        min-width: 190px;   
    }

    .work-experience h3 {
        padding-left: 15px;
    }

    #roadmap {
        padding-left: 15px;
    }

    #solve {
        line-height: 20px;
    }

    #opensource {
        padding-left: 15px;
    }

    .education {
        min-width: 265px;
        padding-left: 15px;
        padding-right: 5px;
    }
    
}

@media screen and (min-width: 992px) {
    .main-upper {
        height: 450px;
    }

    aside {
        min-width: 220px;
    }

    .education {
        min-width: 300px;
    }


    
}

@media screen and (max-width: 600px) {
    [data-theme="dark"] #roadmap, 
    [data-theme="dark"] #opensource, 
    [data-theme="dark"] aside nav {
        --nav-color: #121212;
    }
        
    header {
        height: 260px;
    }

    .whenIgrowup {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        position: relative;
    }

    .brand {
        flex-direction: column;
    }

    #span {
        position: relative;
        right: 5px;
        top: 5px;
    }
    
    .hosanna {
        position: absolute;
        top: 10px;
        right: -5px;
    }

    .leelee {
        width: 45px;
        height: 30px;
    }

    .leelee::before {
        width: 20px;
        height: 20px;
    }

    input:checked + .leelee::before {
        transform: translateX(19px);
    }

    nav ul {
        flex-wrap: wrap;
        padding-left: 20px;
        gap: 5px;
    }

    li a {
        margin-right: 5px;
    }
    
    .title {
        margin-top: 30px; 
        line-height: 2px; 
    }

    .title h1 {
        font-size: 25px;
        min-width: 100px;
    }

    .title p {
        min-width: 100px;
        font-size: 15px;
    }

    .main-upper {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    aside {
        border-right: none;
        text-align: center;
        min-width: 100px;
        border-bottom: 2px solid var(--font-color); 
    }

    aside h3 {
        border-bottom: 2px solid var(--font-color);
        padding-bottom: 20px;
        padding-top: 20px;
        margin: 0;
        background-color: red;
    }

    aside nav {
        background-color: var(--nav-color);
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 15px;
    }

    .work-experience {
        border-right: none;
        min-width: 100px;
    }

    .work-experience h3{
        text-align: center;
        margin-top: 0;
        padding: 15px 0;
        border-bottom: 2px solid var(--font-color);
        font-size: 20px;
        background-color: var(--bgcolor);
    }

    #roadmap {
        margin-top: -35px;
        padding-top: 15px;
        background-color: var(--nav-color);
    }

    #opensource {
        background-color: var(--nav-color);
        padding-top: 10px;
        padding-bottom: 30px;
        border-bottom: 2px solid var(--font-color);
    }

    .education {
        min-width: 100px;
    }

    .education h3 {
        text-align: center;
        font-size: 20px;
        padding-bottom: 10px;
    }

    #courses {
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .reviews {
        /* background-color: aqua; */
        max-height: 920px; 
        min-width: 100px;   
    }

    .reviews h3 {
        font-size: 20px;
        padding-left: 30px;
    }

    .review {
        flex-direction: column;
        padding: 0 20px 0 0;
        margin-right: 10px;
    }

    .hide {
        display: none;
    }

    .cementcity {
        margin: 0;
        padding: 0 30px;
    }

    footer {
        /* background-color: red; */
        font-size: 20px;
        min-height: 50px;
        min-width: 100px;
    }    
}

@media screen and (min-width: 412px) and (max-width: 431px) {
    nav ul {
        flex-wrap: nowrap;
        gap: 5px;
        margin-left: -14px;
    }

    .education {
        padding-left: 20px;
        padding-right: 10px;
    }

    .reviews h3{
        padding-left: 0px;
    }
    
}

@media screen and (max-width: 393px) /* and (min-width: 390px) */{
    nav ul {
        margin-left: 20px;
    }

    #roadmap {
        line-height: 20px;
    }

    .education {
        padding-left: 20px;
        padding-right: 10px;
    }

    .reviews h3{
        padding-left: 0px;
    }
}

@media screen and (max-width: 361px) {
    nav ul {
        margin-left: 50px;
    }

    .education {
        padding-left: 20px;
        padding-right: 10px;
    }

    .reviews h3{
        padding-left: 0px;
    }
}

@media screen and (max-width: 170px) {
    body {
        font-size: 10px;
    }
    
    header {
        height: 210px;
    }

    .whenIgrowup {
        align-items: flex-start; 
        gap: 8px; 
    }

    .brand {
        margin-left: 10px;
    }

    .brand > img {
        width: 35px;
    }

    #span {
        right: 1px;
        top: -5px;
    }

    .hosanna {
        top: 5px;
        right: -35px;
    }

    .leelee {
        width: 30px;
        height: 25px;
    }

    .leelee::before {
        width: 15px;
        height: 15px;
    }

    input:checked + .leelee::before {
        transform: translateX(9px);
    }

    nav ul {
        margin-left: 0;
        gap: 5px;
        flex-direction: column;
    }

    li a {
        margin-left: -10px;
        gap: 10px;
    }

    nav li:not(:last-child)::after {
        content: "";
    }

    .title {
        margin-top: 5px;  
        text-align: left;
        margin-left: 10px;
    }

    .title h1 {
        font-size: 15px;
        min-width: 100px;
        line-height: 18px;
        margin-bottom: -3px;
    }

    .title p {
        min-width: 100px;
        font-size: 8px;
        line-height: 10px;
    }

    aside {
        text-align: left;
    }

    aside h3{
        padding: 10px 0 10px 8px;
        margin: 0;
    }

    aside nav {
        padding: 10px 0;
        margin: 0;
    }

     nav p {
        padding-left: 8px;
    } 

    .work-experience h3 {
        text-align: left;
        padding-left: 10px; 
    }

    #roadmap, #opensource {
        text-align: left;
        padding-left: 10px;
    }

    /* #roadmap {
        text-align: left;
        padding-left: 10px;
    }

    #opensource {
        text-align: left;
        padding-left: 10px;
    } */

    .education {
        padding-left: 10px;   
    }

    .education h3 {
        text-align: left;
        margin-bottom: -10px;
    }

    #courses {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .education ul {
        line-height: 20px;
    }

    .reviews {
        margin-left: 5px;  
    }

    .reviews h3 {
        fot-size: 15px;
        padding-left: 10px;
    }
}
