body {
    margin: 10px auto;
    color: #EEEAE3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 540;
    font-size: 20px;
    background-color: #282725;
    /* border: 2px solid red; */    
}

header {
    display: flex;
    justify-content: space-between;
}

hr {
    height: 1px;
    border: 0;
    background-color: #41403d;
}

.african_giant {
    display: flex;
    gap: 8px;
    height: 30px;
    padding: 10px;
}

.african_giant > img {
    width: 100%;
    min-width: 50px;
}

#span {
    align-self:center;
    font-weight: 550;
}

#span, .star_life > h1,
h3 {
    font-family: "VT323", serif;
    font-weight: 400;
    font-style: normal;
}

nav ul {
    display: flex;
    gap: 35px;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 10px;
    list-style: none;
}

li a {
    text-decoration: none;
    color: #ded5d5;
    font-weight: 500;
}

main {
    margin: auto;
    /* border: 2px solid green; */
}

.star_life {
    padding-bottom: 8px;
}

.star_life > h1 {
    margin-bottom: 0;
    color: #dfff56;
}

.recent_work {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.first {
    /* border: 2px solid cadetblue red blue; */
    width: 440px;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 8px #555451;
    background-color: #EEEAE3;
    color: black;  
    margin: 5px 10px;
}

.bunch {
    width: 92%;
    height: 150px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 10px;
}

#elon {
    background: linear-gradient(to bottom, 
    rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
    url('images/elon-musk.png');
    background-size: cover;
}

#portfolio {
    background: linear-gradient(to bottom, 
    rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
    url('images/personalportfolio-free-template.jpeg');
    background-size: cover;
}

#calculator {
    background: linear-gradient(to bottom, 
    rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
    url('images/doston-nabotov-Hlbfm6J7VR8-unsplash.jpg');
    background-size: cover;
}

#quiz {
    background: linear-gradient(to bottom, 
    rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
    url('images/quizapp.png');
    background-size: cover;
}

#countdown {
    background: linear-gradient(to bottom, 
    rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
    url('images/countdowntimer.jpg');
    background-size: cover;
}

#product {
    background: linear-gradient(to bottom, 
    rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
    url('images/newproduct.png');
    background-size: cover;
}

.cv {
    margin: 25px;
}

.cv > h4 {
    margin-bottom: 0;
}

.cv > p {
    margin-top: 15px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

#single {
    position: relative;
    top: 55px;
}

#web {
    width: 25px;
}

footer {
    margin-top: 50px;
}

footer > p {
    margin-top: 45px;
    text-align: center;
}





@media only screen and (max-width: 319px) {
    body {
        font-size: 10px;
        margin: 0;
    }
    
    header {
        flex-flow: column;
    }

    .african_giant {
        height: 15px;
    }

    .african_giant > img {
        width: 30px;
    }

    nav ul {
        gap: 5px;
        margin-top: 0;
        padding: 0;
        margin-left: 5px;
    }

    main {
        padding-left: 5px;
        padding-right: 5px;
    }

    .recent_work {
        margin: 0;
        gap: 5px;
    }

    .first {
        width: 135px;
        margin: 5px 0;
        border-radius: 10px;
        box-shadow: 0px 0px 3px 3px #555451;
    }

    .bunch {
        height: 100px;
        margin-left: 5px;
        margin-top: 5px;
    }

    .cv {
        margin: 8px;
    }

    .cv > p {
        font-size: 8px;
        margin-top: 8px;
    }

    #single {
        top: 0;
    }

    #web {
        width: 10px;
    }

    footer {
        margin-top: 10px;
    }

    footer > p {
        margin-top: 5px;
    }

}

@media only screen and (min-width: 320px) and (max-width: 411px) {
    body {
        font-size: 15px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .african_giant {
        gap: 10px;
    }

    nav ul {
        gap: 12px;
    }

    main {
        padding-left: 10px;
        padding-right: 10px;
    }

    .recent_work {
        gap: 15px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .first {
        box-shadow: 0px 0px 5px 5px #555451;
    }

    .cv > p {
        font-size: 14px;
    }

    #single {
        top: 0;
    }

    #web {
        width: 15px;
    }

    footer {
        margin-top: 30px;
    }

    footer > p {
        margin-top: 25px;
    }
}

@media only screen and (min-width: 412px) and (max-width: 599px) {
    body {
        width: auto;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .african_giant {
        gap: 25px;
    }

    nav ul {
        gap: 40px;
    }

    main {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    #single {
        top: 0;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    body {
        width: 595px;
    }

    main {
        width: 500px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        width: 765px;
    }

    main {
        width: 660px;
    }

    .recent_work {
        flex-flow: column wrap;
        align-items: center;
    }

    .first {
        width: 600px;
    }

    #single {
        top: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    body {
        width: 990px;
    }

    main {
        width: 850px;
    }

    .first {
        width: 380px;
    }

}

 @media only screen and (min-width: 1200px) {
    body {
        width: 1200px;
    }

    main {
        width: 1000px;
    }
} 
