:root {
    --primary-color: #778899; 
    --secondary-color: #0d92d5;
    --font-color: #000000;
    --bgcolor: #fbf7f7;
    --heading-color: #c1b7b7; 
    --nav-color: #eaefef;
}

[data-theme="dark"] {
    --primary-color: #778899;
    --secondary-color: #03DAC6;
    --font-color: #dfdbdb;
    --bgcolor: #121212;
    --heading-color: #cab7e1;
}

body {
    border: 2px solid var(--font-color);
    margin: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 540;
    font-size: 20px;
    color: var(--font-color);
    background-color: var(--bgcolor);
}

header {
    /* display: flex;
    justify-content: space-between; */
    /* align-items: flex-start; */
    border-bottom: 2px solid var(--font-color);
    height: 300px;
    margin-top: 20px;
    /* flex-flow: row wrap; */
}

.whenIgrowup {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.brand {
    margin-left: 30px ; 
    /* flex-basis: 100px; */
    /* flex: 0.5; */
    /* max-width: 200px; */
    /* border: 1px solid red; */
    /* flex-wrap: wrap; */
    display: flex;
    gap: 10px;
}

.brand > img {
    width: 50px;
}

#span {
    /* vertical-align: middle; */
    font-weight: 550;
    align-self: center;
}

.whenIgrowup nav {
    display: flex;
}

nav ul{
    /* flex-basis: 100px; */
    /* flex: 2; */
    display: flex;
    gap: 10px; 
    list-style: none;
    /* margin: 0 30px 0 0; */
    margin: 0 10px 0 0;
    padding: 0;
    /* flex-flow: row wrap; */
    /* border: 1px solid red; */
}

li a {
    text-decoration: none;
    margin-right: 10px;
    color: var(--font-color);
    font-weight: 550;
}

nav li:not(:last-child)::after {
    content: "/";
} 

.hosanna {
    margin-right: 10px;
}

.refix {
    position: relative;
    width: 60px;
    height: 34px;
    display: inline-block;
    top: -6px;
}

.refix input {
    display: none;
}

.leelee {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: .4s;
    background-color: var(--font-color);
    border-radius: 36px;
}

.leelee::before {
    position: absolute;
    content: "";
    background-color: #FFFFFF;
    width: 25px;
    height: 25px;
    left: 4px;
    top: 5px;
    border-radius: 50%;
    transition: .4s;
}

input:checked + .leelee {
    background-color: darkgrey;
}

input:checked + .leelee::before {
    transform: translateX(25px);
}

.title {
    /* align-self: center;
    align-items: center; */
    line-height: 10px;
    /* flex-basis: 600px; */
    /* flex: 3; */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* border: 1px solid red; */
    margin-top: 50px;
}

.title > h1 {
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.title p {
    font-family: "Hind Mysuru", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--primary-color);
    font-size: 20px;
}

.main-upper {
    display: flex;
    height: 450px;
    border-bottom: 2px solid var(--font-color);
}

aside {
    display: flex;
    flex-direction: column;
    /* flex-basis: 300px; */
    min-width: 300px;
    flex: 1;
    border-right: 2px solid var(--font-color);
}

aside h3 {
    padding-left: 30px;
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
}

nav p {
    margin-top: 0;
    border-bottom: 2px solid var(--font-color);
    padding-left: 30px;
    padding-bottom: 10px;
}

p a {
    padding: 10px 0;
    text-decoration: none;
    color: var(--font-color);
}

#product {
    border: none;
}

.work-experience {
    /* flex-basis: 700px; */
    min-width: 500px;
    flex: 3;
    border-right: 2px solid var(--font-color);
    flex-flow: row wrap;
}

.work-experience h3 {
    padding-left: 30px;
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 35px;
}

#roadmap {
    padding-left: 30px;
    line-height: 13px;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--font-color);
}

#work {
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

#roadmap a {
    font-size: 16px;
    text-decoration: none;
    color: var(--secondary-color);
}

#opensource {
    padding-left: 30px;
    padding-top: 5px;
}

#made {
    margin-bottom: 10px;
}

#opensource a {
    font-size: 16px;
    text-decoration: none;
    color: var(--secondary-color);
}

.education {
    min-width: 400px;
    flex: 2;
    padding-left: 30px;
}

.education h3 {
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
}

#courses {
    margin-top: 25px;
}

.education ul {
    list-style-type: none;
    padding: 0;
    line-height: 25px;
}

.education li::before {
    content: " - ";
}

.reviews {
    margin-left: 30px;
    height: 300px;
}

.reviews h3 {
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
}

.review {
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

.cementcity {
    border: 2px solid var(--font-color);
    padding: 0 15px;
    border-radius: 40px;
}

.staff {
    color: var(--heading-color);
}

footer {
    text-align: center;
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
    height: 80px;
}    





@media screen and (min-width: 768px) {
    .main-upper {
        height: 575px;
    }

    aside {
        min-width: 190px;  
    }

    aside h3 {
        padding-left: 15px;
    }

    nav p {
        padding-left: 15px;
    }

    .work-experience {
        min-width: 190px;   
    }

    .work-experience h3 {
        padding-left: 15px;
    }

    #roadmap {
        padding-left: 15px;
    }

    #solve {
        line-height: 20px;
    }

    #opensource {
        padding-left: 15px;
    }

    .education {
        min-width: 265px;
        padding-left: 15px;
        padding-right: 5px;
    }  
}

@media screen and (min-width: 992px) {
    .main-upper {
        height: 450px;
    }

    aside {
        min-width: 220px;
    }

    .education {
        min-width: 300px;
    }   
}

@media screen and (max-width: 600px) {
    [data-theme="dark"] #roadmap, 
    [data-theme="dark"] #opensource, 
    [data-theme="dark"] aside nav {
        --nav-color: #121212;
    }
        
    header {
        height: 260px;
    }

    .whenIgrowup {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        position: relative;
    }

    .brand {
        flex-direction: column;
    }

    #span {
        position: relative;
        right: 5px;
        top: 5px;
    }
    
    .hosanna {
        position: absolute;
        top: 10px;
        right: -5px;
    }

    .leelee {
        width: 45px;
        height: 30px;
    }

    .leelee::before {
        width: 20px;
        height: 20px;
    }

    input:checked + .leelee::before {
        transform: translateX(19px);
    }

    nav ul {
        flex-wrap: wrap;
        padding-left: 20px;
        gap: 5px;
    }

    li a {
        margin-right: 5px;
    }
    
    .title {
        margin-top: 30px; 
        line-height: 2px; 
    }

    .title h1 {
        font-size: 25px;
        min-width: 100px;
    }

    .title p {
        min-width: 100px;
        font-size: 15px;
    }

    .main-upper {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    aside {
        border-right: none;
        text-align: center;
        min-width: 100px;
        border-bottom: 2px solid var(--font-color); 
    }

    aside h3 {
        border-bottom: 2px solid var(--font-color);
        padding-bottom: 20px;
        padding-top: 20px;
        margin: 0;
    }

    aside nav {
        background-color: var(--nav-color);
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 15px;
    }

    .work-experience {
        border-right: none;
        min-width: 100px;
    }

    .work-experience h3{
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        padding: 15px 0;
        border-bottom: 2px solid var(--font-color);
        font-size: 20px;
        background-color: var(--bgcolor);
    }

    #roadmap {
        /* margin-top: 0;
        margin-bottom: 0; */
        padding-top: 15px;
        background-color: var(--nav-color);
    }

    #opensource {
        background-color: var(--nav-color);
        padding-top: 10px;
        padding-bottom: 30px;
        border-bottom: 2px solid var(--font-color);
    }

    .education {
        min-width: 100px;
    }

    .education h3 {
        text-align: center;
        font-size: 20px;
        padding-bottom: 10px;
    }

    #courses {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .reviews {
        /* background-color: aqua; */
        max-height: 920px; 
        min-width: 100px;   
        margin-left: 0;
    }

    .reviews h3 {
        font-size: 20px;
        padding-left: 30px;
    }

    .review {
        flex-direction: column;
        padding: 0 20px 0 30px;
        margin-right: 10px;
    }

    .hide {
        display: none;
    }

    .cementcity {
        margin: 0;
        padding: 0 30px;
    }

    footer {
        /* background-color: red; */
        font-size: 20px;
        min-height: 50px;
        min-width: 100px;
    }    
}

@media screen and (min-width: 412px) and (max-width: 431px) {
    nav ul {
        flex-wrap: nowrap;
        gap: 5px;
        margin-left: -14px;
    }

    #roadmap, #opensource {
        padding-left: 20px;
    }

    .education {
        padding-left: 20px;
        padding-right: 10px;
    }

    .reviews h3{
        padding-left: 20px;
    } 
}

@media screen and (max-width: 393px) {
    nav ul {
        margin-left: 20px;
    }

    aside {
        text-align: left;
    }

    aside h3 {
        padding-left: 20px;
    }

    nav p {
        padding-left: 20px;
    }

    #roadmap {
        line-height: 20px;
        padding-left: 20px;
    }

    #opensource {
        padding-left: 20px;
    }

    .education {
        padding-left: 20px;
        padding-right: 10px;
    }

    .reviews h3{
        padding-left: 20px;
    }
}

@media screen and (max-width: 361px) {
    nav ul {
        margin-left: 50px;
    }

    aside {
        text-align: left;
    }

    aside h3 {
        padding-left: 20px;
    }

    nav p {
        padding-left: 20px;
    }

    #roadmap, #opensource {
        padding-left: 20px;
        padding-right: 10px;
    }

    .education {
        padding-left: 20px;
        padding-right: 10px;
    }

    .reviews h3{
        padding-left: 20px;
    }
}

@media screen and (max-width: 320px) {
    nav ul {
        margin-left: 25px;
    }

    .title p {
        font-size: 12px;
    }

    aside {
        text-align: left;
    }

    aside h3 {
        padding-left: 20px;
    }

    nav p {
        padding-left: 20px;
    }

    .reviews {
        min-height: 400px;
    }
}

@media screen and (max-width: 170px) {
    body {
        font-size: 10px;
    }
    
    header {
        height: 210px;
    }

    .whenIgrowup {
        align-items: flex-start; 
        gap: 8px; 
    }

    .brand {
        margin-left: 10px;
    }

    .brand > img {
        width: 35px;
    }

    #span {
        right: 1px;
        top: -5px;
    }

    .hosanna {
        top: 5px;
        right: -35px;
    }

    .leelee {
        width: 30px;
        height: 25px;
    }

    .leelee::before {
        width: 15px;
        height: 15px;
    }

    input:checked + .leelee::before {
        transform: translateX(9px);
    }

    nav ul {
        margin-left: 0;
        gap: 5px;
        flex-direction: column;
    }

    li a {
        margin-left: -10px;
        gap: 10px;
    }

    nav li:not(:last-child)::after {
        content: "";
    }

    .title {
        margin-top: 5px;  
        text-align: left;
        margin-left: 10px;
    }

    .title h1 {
        font-size: 15px;
        min-width: 100px;
        line-height: 18px;
        margin-bottom: -3px;
    }

    .title p {
        min-width: 100px;
        font-size: 8px;
        line-height: 10px;
    }

    aside {
        text-align: left;
        margin: 0;
    }

    aside h3{
        padding: 10px 0 10px 8px;
        margin: 0 0.8px 0 0;
    }

    aside nav {
        padding: 10px 0;
        margin: 0 0.8px 0 0;
    }

     nav p {
        padding-left: 8px;
    } 

    .work-experience h3 {
        text-align: left;
        padding-left: 10px; 
        font-size: 15px;
        margin: 0 0.8px 0 0;
    }

    #roadmap, #opensource {
        text-align: left;
        padding-left: 10px;
        margin: 0 0.8px 0 0;
    }

    #work {
        margin-top: 0;
        margin-bottom: 0;
    }

    #solve {
        line-height: 12px;
    }

    #roadmap a, #opensource a {
        line-height: 5px;
        margin-top: 10px;
        font-size: 10px;
    }
    
    /* #roadmap {
        text-align: left;
        padding-left: 10px;
    }

    #opensource {
        text-align: left;
        padding-left: 10px;
    } */

    .education {
        padding-left: 10px;   
    }

    .education h3 {
        text-align: left;
        padding-bottom: 0;
        margin-bottom: 0; 
        font-size: 15px;
    }

    .education div {
        padding-right: 10px;
    }

    .education ul {
        line-height: 13px;
    }

    .reviews {
        max-height: 230px;
        min-width: 99px;
    }

    .reviews h3 {
        font-size: 15px;
        padding-left: 5px;
        margin-left: 5px;
    }

    .review {
        margin: 0 0 0 5px;
        padding: 0 10px 0 5px;
    }

    .cementcity {
        padding: 0 8px;
        border-radius: 20px; 
    }

    footer {
        /* background-color: red; */
        font-size: 10px;
        max-height: 50px;
    }  
}