:root {
    --primary-color: #778899; 
    --secondary-color: #0d92d5;
    --font-color: #000000;
    --bgcolor: #fbf7f7;
    --heading-color: #c1b7b7; 
    --nav-color: #eaefef;
}

[data-theme="dark"] {
    --primary-color: #778899;
    --secondary-color: #03DAC6;
    --font-color: #dfdbdb;
    --bgcolor: #121212;
    --heading-color: #cab7e1;
}

body {
    border: 2px solid var(--font-color);
    margin: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 540;
    font-size: 20px;
    color: var(--font-color);
    background-color: var(--bgcolor);
}

header {
    /* display: flex;
    justify-content: space-between; */
    /* align-items: flex-start; */
    border-bottom: 2px solid var(--font-color);
    height: 300px;
    margin-top: 20px;
    /* flex-flow: row wrap; */
}

.whenIgrowup {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.brand {
    margin-left: 30px ; 
    /* flex-basis: 100px; */
    /* flex: 0.5; */
    /* max-width: 200px; */
    /* border: 1px solid red; */
    /* flex-wrap: wrap; */
    display: flex;
    gap: 10px;
}

.brand > img {
    width: 50px;
}

#span {
    /* vertical-align: middle; */
    font-weight: 550;
    align-self: center;
}

.whenIgrowup nav {
    display: flex;
}

nav ul{
    /* flex-basis: 100px; */
    /* flex: 2; */
    display: flex;
    gap: 10px; 
    list-style: none;
    /* margin: 0 30px 0 0; */
    margin: 0 10px 0 0;
    padding: 0;
    /* flex-flow: row wrap; */
    /* border: 1px solid red; */
}

li a {
    text-decoration: none;
    margin-right: 10px;
    color: var(--font-color);
    font-weight: 550;
}

nav li:not(:last-child)::after {
    content: "/";
} 

.hosanna {
    margin-right: 10px;
}

.refix {
    position: relative;
    width: 60px;
    height: 34px;
    display: inline-block;
    top: -6px;
}

.refix input {
    display: none;
}

.leelee {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: .4s;
    background-color: var(--font-color);
    border-radius: 36px;
}

.leelee::before {
    position: absolute;
    content: "";
    background-color: #FFFFFF;
    width: 25px;
    height: 25px;
    left: 4px;
    top: 5px;
    border-radius: 50%;
    transition: .4s;
}

input:checked + .leelee {
    background-color: darkgrey;
}

input:checked + .leelee::before {
    transform: translateX(25px);
}

.title {
    /* align-self: center;
    align-items: center; */
    line-height: 10px;
    /* flex-basis: 600px; */
    /* flex: 3; */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* border: 1px solid red; */
    margin-top: 50px;
}

.title > h1 {
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.title p {
    font-family: "Hind Mysuru", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--primary-color);
    font-size: 20px;
}

.main-upper {
    display: flex;
    height: 450px;
    border-bottom: 2px solid var(--font-color);
}

aside {
    display: flex;
    flex-direction: column;
    /* flex-basis: 300px; */
    min-width: 300px;
    flex: 1;
    border-right: 2px solid var(--font-color);
}

aside h3 {
    padding-left: 30px;
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
}

nav p {
    margin-top: 0;
    border-bottom: 2px solid var(--font-color);
    padding-left: 30px;
    padding-bottom: 10px;
}

p a {
    padding: 10px 0;
    text-decoration: none;
    color: var(--font-color);
}

#product {
    border: none;
}


.work-experience {
    /* flex-basis: 700px; */
    min-width: 500px;
    flex: 3;
    border-right: 2px solid var(--font-color);
    flex-flow: row wrap;
}

.work-experience h3 {
    padding-left: 30px;
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 35px;
}

#roadmap {
    padding-left: 30px;
    line-height: 13px;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--font-color);
}

#work {
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

#roadmap a {
    font-size: 16px;
    text-decoration: none;
    color: var(--secondary-color);
}

    /* Middle Lower-Section */

#opensource {
    padding-left: 30px;
    padding-top: 5px;
}

#made {
    margin-bottom: 10px;
}

#opensource a {
    font-size: 16px;
    text-decoration: none;
    color: var(--secondary-color);
}


.education {
    /* flex-basis: 500px; */
    min-width: 400px;
    flex: 2;
    padding-left: 30px;
}

.education h3 {
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
}

#courses {
    margin-top: 25px;
}

.education ul {
    list-style-type: none;
    padding: 0;
    line-height: 25px;
}

.education li::before {
    content: " - ";
}

.reviews {
    margin-left: 30px;
    height: 300px;
}

.reviews h3 {
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
}

.review {
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

.cementcity {
    border: 2px solid var(--font-color);
    padding: 0 15px;
    border-radius: 40px;
}

.staff {
    color: var(--heading-color);
}

footer {
    text-align: center;
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
    height: 80px;
}
