.calender-container {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.date-input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 12.5rem;
    width: 100%;
    margin: 1.25rem .63rem 0;
    border: 2px solid #000000;
}

.date-input-wrapper input {
    max-width: 6.25rem;
    width: 100%;
    padding: .5rem;
    border: none;
}

.checked {
    font-size: 1rem; 
    margin-right: .5rem;
}

.calender {
    max-width: 15.63rem;
    width: 100%;
    min-height: 20rem;
    margin: .5rem 0.63rem;
    font-weight: bold;
    border: 2px solid #000000;
    box-shadow: 0px 2px 12px 0px #a9a4a4;
    position: relative;
    left: 1.5rem;
}

.calender-header {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    background-color: #f5f5f5;
    border-bottom: 2px solid #d1caca;
}

.weekdays, .first-week, 
.second-week, .third-week, 
.last-week {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.25rem;
}

.weekdays {
    margin-top: 0.63rem;   
}

#first-day {
    display: flex;
    justify-content: flex-end;
    margin: 0 0.75rem 1.25rem;
}

.first-week {
    gap: .63rem;
    margin-left: .19rem;
    margin-right: .19rem;
}

.second-week {
    gap: .13rem;
    margin-left: .13rem;
}

#selected-day {
    margin-left: .31rem;
}

.third-week {
    gap: .13rem;
}

.last-week {
    justify-content: flex-start;
    gap: 1.25rem;
    margin-left: .56rem;
}