* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    border: 2px solid #000;
    border-radius: 25px;
}

.header-content {
    text-align: center;
    line-height: 1.8;
}

.header-content h1 {
    margin-top: 35px;
    font-size: 2.5rem;
    font-weight: 450;
    color: #2D3748;
}

.header-content p {
    margin-bottom: 25px;
    font-size: 0.94rem;
    color: #B0B0B0;
}

.changelog {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-left: 120px;
    /* border: 1px solid red; */
}

.timeline {
    display: flex;
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 166px;
    width: 2px;
    height: 100%;
    background-color: #000;
}

.dates {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 43px 20px 60px 0;
    padding-right: 20px;
    color: #B0B0B0;
}

.progress-line {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
    position: relative;
    left: -48px;
    top: 41px;
}

.events {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 43px;
    font-size: 16px;
    position: relative;
    left: -70px;
}

footer {
    display: flex;
    justify-content: center;
}

button {
    background-color: #000;
    color: #FFF;
    margin: 30px 0;
    padding: 10px 30px;
    border-radius: 10px;
}