:root {
    --size-2xs: 0.19rem;
    --size-xs: 0.94rem;
    --size-sm: 1.88rem;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: #232323;
}

.container {
    padding-block: 1.56rem;
    border: var(--size-2xs) solid black;
    border-radius: var(--size-xs);
}

section {
    width: 90%;
    margin-inline: auto;
    padding-block-end: 0.625rem;
}

ul {
    display: flex;
    gap: var(--size-sm);
    margin-block-start: 0;
    margin-block-end: var(--size-sm);
    padding-inline-start: 0;
    list-style: none;
    cursor: pointer;
}

li:not(:first-child) {
    color: grey;
}

.active {
    border-bottom: var(--size-2xs) solid black; 
    padding-bottom: 0.438rem;
}

p {
    max-width: 43.75rem;
    line-height: 1.5rem;
}

article {
    background-color: black;
    color: white;
    font-weight: 400;
    text-align: center;
    padding-block: 2.813rem;
    border-radius: var(--size-xs);
    margin-block-end: 1.375rem;
}

.tab-content:not(:first-child) {
    display: none;
}